src/main/webapp/fhir-r5-xsd/graphdefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 * #%L
 * org.hl7.fhir.r5
 * %%
 * Copyright (C) 2014 - 2019 Health Level 7
 * %%
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * #L%
 */

/*
  Copyright (c) 2011+, HL7, Inc.
  All rights reserved.
  
  Redistribution and use in source and binary forms, with or without modification, 
  are permitted provided that the following conditions are met:
  
   * Redistributions of source code must retain the above copyright notice, this 
     list of conditions and the following disclaimer.
   * Redistributions in binary form must reproduce the above copyright notice, 
     this list of conditions and the following disclaimer in the documentation 
     and/or other materials provided with the distribution.
   * Neither the name of HL7 nor the names of its contributors may be used to 
     endorse or promote products derived from this software without specific 
     prior written permission.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
  WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
  IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, 
  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT 
  NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR 
  PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, 
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) 
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE 
  POSSIBILITY OF SUCH DAMAGE.
  

  Generated on Sun, Mar 26, 2023 15:21+1100 for FHIR v5.0.0 

  Note: the schemas &amp; schematrons do not contain all of the rules about what makes resources
  valid. Implementers will still need to be familiar with the content of the specification and with
  any profiles that apply to the resources in order to make a conformant implementation.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://hl7.org/fhir" xmlns:xhtml="http://www.w3.org/1999/xhtml" targetNamespace="http://hl7.org/fhir" elementFormDefault="qualified" version="1.0">
  <xs:include schemaLocation="fhir-base.xsd"/>
  <xs:element name="GraphDefinition" type="GraphDefinition">
    <xs:annotation>
      <xs:documentation xml:lang="en">A formal computable definition of a graph of resources - that is, a coherent set of resources that form a graph by following references. The Graph Definition resource defines a set and makes rules about the set.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="GraphDefinition">
    <xs:annotation>
      <xs:documentation xml:lang="en">A formal computable definition of a graph of resources - that is, a coherent set of resources that form a graph by following references. The Graph Definition resource defines a set and makes rules about the set.</xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CanonicalResource">
        <xs:sequence>
          <xs:element name="url" minOccurs="0" maxOccurs="1" type="uri">
            <xs:annotation>
              <xs:documentation xml:lang="en">An absolute URI that is used to identify this graph definition when it is referenced in a specification, model, design or an instance; also called its canonical identifier. This SHOULD be globally unique and SHOULD be a literal address at which an authoritative instance of this graph definition is (or will be) published. This URL can be the target of a canonical reference. It SHALL remain the same when the graph definition is stored on different servers.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="identifier" minOccurs="0" maxOccurs="unbounded" type="Identifier">
            <xs:annotation>
              <xs:documentation xml:lang="en">A formal identifier that is used to identify this GraphDefinition when it is represented in other formats, or referenced in a specification, model, design or an instance.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="version" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">The identifier that is used to identify this version of the graph definition when it is referenced in a specification, model, design or instance. This is an arbitrary value managed by the graph definition author and is not expected to be globally unique. For example, it might be a timestamp (e.g. yyyymmdd) if a managed version is not available. There is also no expectation that versions can be placed in a lexicographical sequence.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0" maxOccurs="1" >
            <xs:annotation>
              <xs:documentation xml:lang="en">Indicates the mechanism used to compare versions to determine which is more current.</xs:documentation>
            </xs:annotation>
            <xs:element name="versionAlgorithmString" type="string"/>
            <xs:element name="versionAlgorithmCoding" type="Coding"/>
          </xs:choice>
          <xs:element name="name" minOccurs="1" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A natural language name identifying the graph definition. This name should be usable as an identifier for the module by machine processing applications such as code generation.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="title" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A short, descriptive, user-friendly title for the capability statement.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="status" minOccurs="1" maxOccurs="1" type="PublicationStatus">
            <xs:annotation>
              <xs:documentation xml:lang="en">The status of this graph definition. Enables tracking the life-cycle of the content.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="experimental" minOccurs="0" maxOccurs="1" type="boolean">
            <xs:annotation>
              <xs:documentation xml:lang="en">A Boolean value to indicate that this graph definition is authored for testing purposes (or education/evaluation/marketing) and is not intended to be used for genuine usage.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="date" minOccurs="0" maxOccurs="1" type="dateTime">
            <xs:annotation>
              <xs:documentation xml:lang="en">The date  (and optionally time) when the graph definition was last significantly changed. The date must change when the business version changes and it must change if the status code changes. In addition, it should change when the substantive content of the graph definition changes.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="publisher" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">The name of the organization or individual responsible for the release and ongoing maintenance of the graph definition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="contact" minOccurs="0" maxOccurs="unbounded" type="ContactDetail">
            <xs:annotation>
              <xs:documentation xml:lang="en">Contact details to assist a user in finding and communicating with the publisher.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="markdown">
            <xs:annotation>
              <xs:documentation xml:lang="en">A free text natural language description of the graph definition from a consumer's perspective.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="useContext" minOccurs="0" maxOccurs="unbounded" type="UsageContext">
            <xs:annotation>
              <xs:documentation xml:lang="en">The content was developed with a focus and intent of supporting the contexts that are listed. These contexts may be general categories (gender, age, ...) or may be references to specific programs (insurance plans, studies, ...) and may be used to assist with indexing and searching for appropriate graph definition instances.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="jurisdiction" minOccurs="0" maxOccurs="unbounded" type="CodeableConcept">
            <xs:annotation>
              <xs:documentation xml:lang="en">A legal or geographic region in which the graph definition is intended to be used.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="purpose" minOccurs="0" maxOccurs="1" type="markdown">
            <xs:annotation>
              <xs:documentation xml:lang="en">Explanation of why this graph definition is needed and why it has been designed as it has.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="copyright" minOccurs="0" maxOccurs="1" type="markdown">
            <xs:annotation>
              <xs:documentation xml:lang="en">A copyright statement relating to the graph definition and/or its contents. Copyright statements are generally legal restrictions on the use and publishing of the graph definition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="copyrightLabel" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A short string (&lt;50 characters), suitable for inclusion in a page footer that identifies the copyright holder, effective period, and optionally whether rights are resctricted. (e.g. 'All rights reserved', 'Some rights reserved').</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="start" minOccurs="0" maxOccurs="1" type="id">
            <xs:annotation>
              <xs:documentation xml:lang="en">The Node at which instances of this graph start. If there is no nominated start, the graph can start at any of the nodes.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="node" type="GraphDefinition.Node" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Potential target for the link.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="link" type="GraphDefinition.Link" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Links this graph makes rules about.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GraphDefinition.Node">
    <xs:annotation>
      <xs:documentation xml:lang="en">A formal computable definition of a graph of resources - that is, a coherent set of resources that form a graph by following references. The Graph Definition resource defines a set and makes rules about the set.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="nodeId" minOccurs="1" maxOccurs="1" type="id">
            <xs:annotation>
              <xs:documentation xml:lang="en">Internal ID of node - target for link references.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Information about why this node is of interest in this graph definition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="type" minOccurs="1" maxOccurs="1" type="VersionIndependentResourceTypesAll">
            <xs:annotation>
              <xs:documentation xml:lang="en">Type of resource this link refers to.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="profile" minOccurs="0" maxOccurs="1" type="canonical">
            <xs:annotation>
              <xs:documentation xml:lang="en">Profile for the target resource.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GraphDefinition.Link">
    <xs:annotation>
      <xs:documentation xml:lang="en">A formal computable definition of a graph of resources - that is, a coherent set of resources that form a graph by following references. The Graph Definition resource defines a set and makes rules about the set.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Information about why this link is of interest in this graph definition.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="min" minOccurs="0" maxOccurs="1" type="integer">
            <xs:annotation>
              <xs:documentation xml:lang="en">Minimum occurrences for this link.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="max" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Maximum occurrences for this link.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="sourceId" minOccurs="1" maxOccurs="1" type="id">
            <xs:annotation>
              <xs:documentation xml:lang="en">The source node for this link.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="path" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A FHIRPath expression that identifies one of FHIR References to other resources.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="sliceName" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Which slice (if profiled).</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="targetId" minOccurs="1" maxOccurs="1" type="id">
            <xs:annotation>
              <xs:documentation xml:lang="en">The target node for this link.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="params" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">A set of parameters to look up.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="compartment" type="GraphDefinition.Compartment" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation xml:lang="en">Compartment Consistency Rules.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GraphDefinition.Compartment">
    <xs:annotation>
      <xs:documentation xml:lang="en">A formal computable definition of a graph of resources - that is, a coherent set of resources that form a graph by following references. The Graph Definition resource defines a set and makes rules about the set.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="BackboneElement">
        <xs:sequence>
          <xs:element name="use" minOccurs="1" maxOccurs="1" type="GraphCompartmentUse">
            <xs:annotation>
              <xs:documentation xml:lang="en">Defines how the compartment rule is used - whether it it is used to test whether resources are subject to the rule, or whether it is a rule that must be followed.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="rule" minOccurs="1" maxOccurs="1" type="GraphCompartmentRule">
            <xs:annotation>
              <xs:documentation xml:lang="en">identical | matching | different | no-rule | custom.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="code" minOccurs="1" maxOccurs="1" type="CompartmentType">
            <xs:annotation>
              <xs:documentation xml:lang="en">Identifies the compartment.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="expression" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Custom rule, as a FHIRPath expression.</xs:documentation>
           </xs:annotation>
          </xs:element>
          <xs:element name="description" minOccurs="0" maxOccurs="1" type="string">
            <xs:annotation>
              <xs:documentation xml:lang="en">Documentation for FHIRPath expression.</xs:documentation>
           </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="GraphCompartmentUseEnum">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="where">
        <xs:annotation>
          <xs:documentation xml:lang="en">Where</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="requires">
        <xs:annotation>
          <xs:documentation xml:lang="en">requires</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GraphCompartmentUse">
    <xs:annotation>
      <xs:documentation xml:lang="en"></xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="GraphCompartmentUseEnum" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="GraphCompartmentRuleEnum">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="identical">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="matching">
        <xs:annotation>
          <xs:documentation xml:lang="en">Matching</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="different">
        <xs:annotation>
          <xs:documentation xml:lang="en">Different</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="custom">
        <xs:annotation>
          <xs:documentation xml:lang="en">Custom</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GraphCompartmentRule">
    <xs:annotation>
      <xs:documentation xml:lang="en"></xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="GraphCompartmentRuleEnum" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VersionIndependentResourceTypesAllEnum">
    <xs:restriction base="code-primitive">
      <xs:enumeration value="Account">
        <xs:annotation>
          <xs:documentation xml:lang="en">Account</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ActivityDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ActivityDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ActorDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ActorDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AdministrableProductDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">AdministrableProductDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AdverseEvent">
        <xs:annotation>
          <xs:documentation xml:lang="en">AdverseEvent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AllergyIntolerance">
        <xs:annotation>
          <xs:documentation xml:lang="en">AllergyIntolerance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Appointment">
        <xs:annotation>
          <xs:documentation xml:lang="en">Appointment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AppointmentResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">AppointmentResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ArtifactAssessment">
        <xs:annotation>
          <xs:documentation xml:lang="en">ArtifactAssessment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AuditEvent">
        <xs:annotation>
          <xs:documentation xml:lang="en">AuditEvent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Basic">
        <xs:annotation>
          <xs:documentation xml:lang="en">Basic</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Binary">
        <xs:annotation>
          <xs:documentation xml:lang="en">Binary</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BiologicallyDerivedProduct">
        <xs:annotation>
          <xs:documentation xml:lang="en">BiologicallyDerivedProduct</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BiologicallyDerivedProductDispense">
        <xs:annotation>
          <xs:documentation xml:lang="en">BiologicallyDerivedProductDispense</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BodyStructure">
        <xs:annotation>
          <xs:documentation xml:lang="en">BodyStructure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bundle">
        <xs:annotation>
          <xs:documentation xml:lang="en">Bundle</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CanonicalResource">
        <xs:annotation>
          <xs:documentation xml:lang="en">CanonicalResource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CapabilityStatement">
        <xs:annotation>
          <xs:documentation xml:lang="en">CapabilityStatement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CarePlan">
        <xs:annotation>
          <xs:documentation xml:lang="en">CarePlan</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CareTeam">
        <xs:annotation>
          <xs:documentation xml:lang="en">CareTeam</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChargeItem">
        <xs:annotation>
          <xs:documentation xml:lang="en">ChargeItem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChargeItemDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ChargeItemDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Citation">
        <xs:annotation>
          <xs:documentation xml:lang="en">Citation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Claim">
        <xs:annotation>
          <xs:documentation xml:lang="en">Claim</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ClaimResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">ClaimResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ClinicalImpression">
        <xs:annotation>
          <xs:documentation xml:lang="en">ClinicalImpression</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ClinicalUseDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ClinicalUseDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CodeSystem">
        <xs:annotation>
          <xs:documentation xml:lang="en">CodeSystem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Communication">
        <xs:annotation>
          <xs:documentation xml:lang="en">Communication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CommunicationRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">CommunicationRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CompartmentDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">CompartmentDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Composition">
        <xs:annotation>
          <xs:documentation xml:lang="en">Composition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConceptMap">
        <xs:annotation>
          <xs:documentation xml:lang="en">ConceptMap</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Condition">
        <xs:annotation>
          <xs:documentation xml:lang="en">Condition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ConditionDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ConditionDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Consent">
        <xs:annotation>
          <xs:documentation xml:lang="en">Consent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Contract">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contract</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Coverage">
        <xs:annotation>
          <xs:documentation xml:lang="en">Coverage</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CoverageEligibilityRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">CoverageEligibilityRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CoverageEligibilityResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">CoverageEligibilityResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DetectedIssue">
        <xs:annotation>
          <xs:documentation xml:lang="en">DetectedIssue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Device">
        <xs:annotation>
          <xs:documentation xml:lang="en">Device</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceAssociation">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceAssociation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceDispense">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceDispense</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceMetric">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceMetric</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceUsage">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceUsage</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DiagnosticReport">
        <xs:annotation>
          <xs:documentation xml:lang="en">DiagnosticReport</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DocumentReference">
        <xs:annotation>
          <xs:documentation xml:lang="en">DocumentReference</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DomainResource">
        <xs:annotation>
          <xs:documentation xml:lang="en">DomainResource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Encounter">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encounter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EncounterHistory">
        <xs:annotation>
          <xs:documentation xml:lang="en">EncounterHistory</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Endpoint">
        <xs:annotation>
          <xs:documentation xml:lang="en">Endpoint</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EnrollmentRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">EnrollmentRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EnrollmentResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">EnrollmentResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EpisodeOfCare">
        <xs:annotation>
          <xs:documentation xml:lang="en">EpisodeOfCare</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EventDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">EventDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Evidence">
        <xs:annotation>
          <xs:documentation xml:lang="en">Evidence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EvidenceReport">
        <xs:annotation>
          <xs:documentation xml:lang="en">EvidenceReport</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EvidenceVariable">
        <xs:annotation>
          <xs:documentation xml:lang="en">EvidenceVariable</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExampleScenario">
        <xs:annotation>
          <xs:documentation xml:lang="en">ExampleScenario</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExplanationOfBenefit">
        <xs:annotation>
          <xs:documentation xml:lang="en">ExplanationOfBenefit</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FamilyMemberHistory">
        <xs:annotation>
          <xs:documentation xml:lang="en">FamilyMemberHistory</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Flag">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flag</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FormularyItem">
        <xs:annotation>
          <xs:documentation xml:lang="en">FormularyItem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GenomicStudy">
        <xs:annotation>
          <xs:documentation xml:lang="en">GenomicStudy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Goal">
        <xs:annotation>
          <xs:documentation xml:lang="en">Goal</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GraphDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">GraphDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Group">
        <xs:annotation>
          <xs:documentation xml:lang="en">Group</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="GuidanceResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">GuidanceResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HealthcareService">
        <xs:annotation>
          <xs:documentation xml:lang="en">HealthcareService</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImagingSelection">
        <xs:annotation>
          <xs:documentation xml:lang="en">ImagingSelection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImagingStudy">
        <xs:annotation>
          <xs:documentation xml:lang="en">ImagingStudy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Immunization">
        <xs:annotation>
          <xs:documentation xml:lang="en">Immunization</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImmunizationEvaluation">
        <xs:annotation>
          <xs:documentation xml:lang="en">ImmunizationEvaluation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImmunizationRecommendation">
        <xs:annotation>
          <xs:documentation xml:lang="en">ImmunizationRecommendation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImplementationGuide">
        <xs:annotation>
          <xs:documentation xml:lang="en">ImplementationGuide</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ingredient">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ingredient</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InsurancePlan">
        <xs:annotation>
          <xs:documentation xml:lang="en">InsurancePlan</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryItem">
        <xs:annotation>
          <xs:documentation xml:lang="en">InventoryItem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InventoryReport">
        <xs:annotation>
          <xs:documentation xml:lang="en">InventoryReport</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Invoice">
        <xs:annotation>
          <xs:documentation xml:lang="en">Invoice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Library">
        <xs:annotation>
          <xs:documentation xml:lang="en">Library</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Linkage">
        <xs:annotation>
          <xs:documentation xml:lang="en">Linkage</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="List">
        <xs:annotation>
          <xs:documentation xml:lang="en">List</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Location">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ManufacturedItemDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ManufacturedItemDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Measure">
        <xs:annotation>
          <xs:documentation xml:lang="en">Measure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MeasureReport">
        <xs:annotation>
          <xs:documentation xml:lang="en">MeasureReport</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Medication">
        <xs:annotation>
          <xs:documentation xml:lang="en">Medication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicationAdministration">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicationAdministration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicationDispense">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicationDispense</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicationKnowledge">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicationKnowledge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicationRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicationRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicationStatement">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicationStatement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MessageDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">MessageDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MessageHeader">
        <xs:annotation>
          <xs:documentation xml:lang="en">MessageHeader</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MetadataResource">
        <xs:annotation>
          <xs:documentation xml:lang="en">MetadataResource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MolecularSequence">
        <xs:annotation>
          <xs:documentation xml:lang="en">MolecularSequence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NamingSystem">
        <xs:annotation>
          <xs:documentation xml:lang="en">NamingSystem</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NutritionIntake">
        <xs:annotation>
          <xs:documentation xml:lang="en">NutritionIntake</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NutritionOrder">
        <xs:annotation>
          <xs:documentation xml:lang="en">NutritionOrder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NutritionProduct">
        <xs:annotation>
          <xs:documentation xml:lang="en">NutritionProduct</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Observation">
        <xs:annotation>
          <xs:documentation xml:lang="en">Observation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ObservationDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ObservationDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OperationDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">OperationDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OperationOutcome">
        <xs:annotation>
          <xs:documentation xml:lang="en">OperationOutcome</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Organization">
        <xs:annotation>
          <xs:documentation xml:lang="en">Organization</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OrganizationAffiliation">
        <xs:annotation>
          <xs:documentation xml:lang="en">OrganizationAffiliation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PackagedProductDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">PackagedProductDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Parameters">
        <xs:annotation>
          <xs:documentation xml:lang="en">Parameters</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Patient">
        <xs:annotation>
          <xs:documentation xml:lang="en">Patient</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaymentNotice">
        <xs:annotation>
          <xs:documentation xml:lang="en">PaymentNotice</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PaymentReconciliation">
        <xs:annotation>
          <xs:documentation xml:lang="en">PaymentReconciliation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Permission">
        <xs:annotation>
          <xs:documentation xml:lang="en">Permission</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Person">
        <xs:annotation>
          <xs:documentation xml:lang="en">Person</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PlanDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">PlanDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Practitioner">
        <xs:annotation>
          <xs:documentation xml:lang="en">Practitioner</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PractitionerRole">
        <xs:annotation>
          <xs:documentation xml:lang="en">PractitionerRole</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Procedure">
        <xs:annotation>
          <xs:documentation xml:lang="en">Procedure</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Provenance">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provenance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Questionnaire">
        <xs:annotation>
          <xs:documentation xml:lang="en">Questionnaire</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QuestionnaireResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">QuestionnaireResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegulatedAuthorization">
        <xs:annotation>
          <xs:documentation xml:lang="en">RegulatedAuthorization</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RelatedPerson">
        <xs:annotation>
          <xs:documentation xml:lang="en">RelatedPerson</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RequestOrchestration">
        <xs:annotation>
          <xs:documentation xml:lang="en">RequestOrchestration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Requirements">
        <xs:annotation>
          <xs:documentation xml:lang="en">Requirements</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ResearchStudy">
        <xs:annotation>
          <xs:documentation xml:lang="en">ResearchStudy</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ResearchSubject">
        <xs:annotation>
          <xs:documentation xml:lang="en">ResearchSubject</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Resource">
        <xs:annotation>
          <xs:documentation xml:lang="en">Resource</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RiskAssessment">
        <xs:annotation>
          <xs:documentation xml:lang="en">RiskAssessment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Schedule">
        <xs:annotation>
          <xs:documentation xml:lang="en">Schedule</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SearchParameter">
        <xs:annotation>
          <xs:documentation xml:lang="en">SearchParameter</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ServiceRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">ServiceRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Slot">
        <xs:annotation>
          <xs:documentation xml:lang="en">Slot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Specimen">
        <xs:annotation>
          <xs:documentation xml:lang="en">Specimen</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SpecimenDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">SpecimenDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StructureDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">StructureDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StructureMap">
        <xs:annotation>
          <xs:documentation xml:lang="en">StructureMap</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Subscription">
        <xs:annotation>
          <xs:documentation xml:lang="en">Subscription</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubscriptionStatus">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubscriptionStatus</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubscriptionTopic">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubscriptionTopic</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Substance">
        <xs:annotation>
          <xs:documentation xml:lang="en">Substance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubstanceDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubstanceDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubstanceNucleicAcid">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubstanceNucleicAcid</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubstancePolymer">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubstancePolymer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubstanceProtein">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubstanceProtein</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubstanceReferenceInformation">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubstanceReferenceInformation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubstanceSourceMaterial">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubstanceSourceMaterial</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SupplyDelivery">
        <xs:annotation>
          <xs:documentation xml:lang="en">SupplyDelivery</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SupplyRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">SupplyRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Task">
        <xs:annotation>
          <xs:documentation xml:lang="en">Task</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TerminologyCapabilities">
        <xs:annotation>
          <xs:documentation xml:lang="en">TerminologyCapabilities</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TestPlan">
        <xs:annotation>
          <xs:documentation xml:lang="en">TestPlan</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TestReport">
        <xs:annotation>
          <xs:documentation xml:lang="en">TestReport</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TestScript">
        <xs:annotation>
          <xs:documentation xml:lang="en">TestScript</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transport">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transport</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ValueSet">
        <xs:annotation>
          <xs:documentation xml:lang="en">ValueSet</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VerificationResult">
        <xs:annotation>
          <xs:documentation xml:lang="en">VerificationResult</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VisionPrescription">
        <xs:annotation>
          <xs:documentation xml:lang="en">VisionPrescription</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BodySite">
        <xs:annotation>
          <xs:documentation xml:lang="en">BodySite</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CatalogEntry">
        <xs:annotation>
          <xs:documentation xml:lang="en">CatalogEntry</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Conformance">
        <xs:annotation>
          <xs:documentation xml:lang="en">Conformance</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DataElement">
        <xs:annotation>
          <xs:documentation xml:lang="en">DataElement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceComponent">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceComponent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceUseRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceUseRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeviceUseStatement">
        <xs:annotation>
          <xs:documentation xml:lang="en">DeviceUseStatement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DiagnosticOrder">
        <xs:annotation>
          <xs:documentation xml:lang="en">DiagnosticOrder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DocumentManifest">
        <xs:annotation>
          <xs:documentation xml:lang="en">DocumentManifest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EffectEvidenceSynthesis">
        <xs:annotation>
          <xs:documentation xml:lang="en">EffectEvidenceSynthesis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EligibilityRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">EligibilityRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EligibilityResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">EligibilityResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExpansionProfile">
        <xs:annotation>
          <xs:documentation xml:lang="en">ExpansionProfile</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImagingManifest">
        <xs:annotation>
          <xs:documentation xml:lang="en">ImagingManifest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ImagingObjectSelection">
        <xs:annotation>
          <xs:documentation xml:lang="en">ImagingObjectSelection</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Media">
        <xs:annotation>
          <xs:documentation xml:lang="en">Media</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicationOrder">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicationOrder</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicationUsage">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicationUsage</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProduct">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProduct</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductAuthorization">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductAuthorization</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductContraindication">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductContraindication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductIndication">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductIndication</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductIngredient">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductIngredient</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductInteraction">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductInteraction</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductManufactured">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductManufactured</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductPackaged">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductPackaged</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductPharmaceutical">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductPharmaceutical</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MedicinalProductUndesirableEffect">
        <xs:annotation>
          <xs:documentation xml:lang="en">MedicinalProductUndesirableEffect</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Order">
        <xs:annotation>
          <xs:documentation xml:lang="en">Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OrderResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">OrderResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcedureRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">ProcedureRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">ProcessRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProcessResponse">
        <xs:annotation>
          <xs:documentation xml:lang="en">ProcessResponse</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ReferralRequest">
        <xs:annotation>
          <xs:documentation xml:lang="en">ReferralRequest</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RequestGroup">
        <xs:annotation>
          <xs:documentation xml:lang="en">RequestGroup</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ResearchDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ResearchDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ResearchElementDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ResearchElementDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RiskEvidenceSynthesis">
        <xs:annotation>
          <xs:documentation xml:lang="en">RiskEvidenceSynthesis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sequence">
        <xs:annotation>
          <xs:documentation xml:lang="en">Sequence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ServiceDefinition">
        <xs:annotation>
          <xs:documentation xml:lang="en">ServiceDefinition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubstanceSpecification">
        <xs:annotation>
          <xs:documentation xml:lang="en">SubstanceSpecification</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VersionIndependentResourceTypesAll">
    <xs:annotation>
      <xs:documentation xml:lang="en"></xs:documentation>
      <xs:documentation xml:lang="en">If the element is present, it must have either a @value, an @id, or extensions</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Element">
        <xs:attribute name="value" type="VersionIndependentResourceTypesAllEnum" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
